/*** Imports ***/
/*** Global ***/
/* line 11, main.scss */
html, body {
  color: #fff;
  background-color: #000;
  font-family: helvetica, arial, sans-serif; }

/*** Zones/Regions ***/
/* line 19, main.scss */
#container {
  width: 960px;
  margin: 0 auto; }

/* line 24, main.scss */
#canvas {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  -webkit-filter: grayscale(0) blur(0);
  -moz-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  -moz-transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  border: 1px solid #555; }
  /* line 30, main.scss */
  #canvas.inactive {
    -webkit-filter: grayscale(1) blur(5px);
    -moz-filter: grayscale(1) blur(5px);
    filter: grayscale(1) blur(5px); }

/*** Classes ***/
/* line 35, main.scss */
p.chromeframe {
  padding: 15px; }
