.DS_Store

### EaselJS ###

#ignore .git folder for yuidoc project, otherwise it will be treated as a submodule
easeljs/build/tools/yuidoc/.git/*

#ignore compiled python files
*.pyc

easeljs/build/output/
easeljs/build/tmp/
/.idea/
*TMP*